   body {
    font: 14pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
   }
   h1 {
    font-size: 24px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #fc6; /* Цвет текста */
   }
   h2 {
    margin-top: 0; /* Убираем отступ сверху */
    padding-bottom: 12px;
    border-bottom: 20px solid rgb(8, 2, 99);
   }
   /* head { /* Верхний блок */
   /* background: ; /* Цвет фона */
   /* } */
   a {
    border: 1px solid blue; /* Синяя рамка вокруг ссылок */
    padding: 2px; /* Поля вокруг текста */
    text-decoration: none; /* Скрываем подчёркивание */
   }
   a:hover {
    border: 1px solid red; /* Красная рамка при наведении курсора на ссылку */
   }

    /* Cсылку */
   .btn-6 {
    /* $btn-color: random-color($max:200);
    $btn-color-dark: shade($btn-color, 40%); */
    color: #77334a;
   }
    span {
      position: absolute;
      display: block;
      /* @include size(0); */
      border-radius: 50%;
      background-color: #390919;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    
    /* &:hover {
      color: tint($btn-color, 75%);
      
      span {
        @include size(225%, $btn-width*2.25);
      }
    }
    
    &:active {
      background-color: $btn-color;
    }
  } */


   .blok{
    background: #3546e0; /* Цвет фона */
    width: 100px; /* Ширина */
    margin: 0 10px 10px 0; /* Отступы */
    padding: 10px 0; /* Поля сверху и снизу */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
   }
   
   .sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 20%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
   }
   .content { /* Правая колонка */
    margin: 10px 5px 20px 25%; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
   }
   .footer { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
   }