
p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

blockquote {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(45, 119, 27);
}

header{
    display: flex;
    height: 120px;
    color: rgb(161, 89, 89);
    border: 1px solid rgb(45, 119, 27);
}
main{
    display: flex;
    height: auto;
    color: rgb(161, 89, 89);
    border: 1px solid rgb(13, 0, 44); 
}

#menu{
    background:rgb(216, 198, 164);
    width: 200px;
    height:auto;
    /* position:absolute;  */
    float:left;   
    } 
#content{
    background:oldlace;
    width: 500px;
    height:auto;
    float:left;     
    }
#news{
    background:yellow;
    width:150px;
    height:280px;
    float:right; 
    margin:10px;
    }

footer{
    display: flex;
    height: 80px;
    color: rgb(161, 89, 89);
    border: 1px solid rgb(96, 84, 148) 
}
/* body{
    margin:0px;
    } */
/* main{
    background:rgb(184, 139, 139);
    width:auto;
    height:auto;
    position:absolute; 
}
    #header{
    background:darkred;
    width:auto;
    height:100px;
    }
    #main{
        background:rgb(184, 139, 139);
        width:auto;
        height:auto;
        position:absolute; 
        }
    #content{
    background:oldlace;
    width:auto;
    height:auto;
    float:left;     
    }
    #menu{
    background:rgb(216, 198, 164);
    width:auto;
    height:auto;
    position:absolute; 
    /* float:left;   */
    /* }    */
    /* #news{
    background:yellow;
    width:150px;
    height:280px;
    float:right; 
    margin:10px;
    }
    #footer{
    background:darkred;
    width:auto;
    height:30px;
    } */
  
