
p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

blockquote {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(45, 119, 27);
}

header{
    display: flex;
    height: 120px;
    color: rgb(161, 89, 89);
    border: 1px solid rgb(138, 172, 130);
}
main{
    display: flex;
    height: auto;
    color: rgb(161, 89, 89);
    border: 1px solid rgb(13, 0, 44); 
}

#menu{
    background:rgb(250, 250, 250);
    width: 300px;
    height:auto;
    float:left;   
    } 
#content{
    background:oldlace;
    width: 80%;
    height:auto;
    float:left;     
    }
#news{
    background:rgb(129, 207, 142);
    width:300px;
    height:900px;
    float:right; 
    margin:1px;
    }

footer{
    display: flex;
    height: 80px;
    color: rgb(161, 89, 89);
    border: 1px solid rgb(96, 84, 148) 
}
